<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Awesome site</title>
    <style>
        .quadro{
            width: 200px;
            height: 200px;
            background: red;
            border: 2px solid black;
            color:white;
            text-align: center;
            float: left;
            margin-left:5px ;
        }

        header{
            width:100%;
            height:50px;
            background: #affff1;
        }

    </style>

</head>
<body>
    <header>
        <h1>My awesome site</h1>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>