{% extends 'base.html' %}

{% block content %}
    <b>Наше меню</b>

    <table>
        <tr>
            <th>#</th>
            <th>Назвние</th>
            <th>Цена</th>
            <th>Вес</th>
        </tr>
        {% for dish in dishes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{dish.name}}</td>
                <td>{{dish.price}}</td>
                <td>{{dish.weight}}</td>
            </tr>
         {% endfor %}
    </table>
{% endblock %}